fastapi
uvicorn
langchain
huggingface-hub
transformers
torch
weaviate-client
scikit-learn
pyPDF2
python-multipart
pydantic
requests

faiss-cpu

pypdf

langchain-community
langchain-huggingface
sentence-transformers

sqlalchemy
